.add-product{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  border: 0;
  padding: 5px 15px;
  margin:10px 0 ;
  color: #104849;
  background-color: #59fd87;
  border-radius: 10px;
  .add-to-cart{
    margin-left: 10px;
  }
}
.product-card-buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 4px;
  }
  button:hover{
    background-color: #87ffa9;
  }
  .add-product-clicked{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    color: #104849;
    background-color: #87ffa9;
    width: 50%;
    border: 0;
    padding: 5px 15px;
    border-radius: 10px;
    .added{
      margin-left: 10px;
    }
}
.view-cart-button{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 0;
    padding: 5px 15px;
    color: #104849;
    background-color: #87ffa9;
    border-radius: 10px;
    .view-cart-icon{
      margin-left: 10px;
    }
}
.view-cart-button:hover{
    background-color: #59fd87;
}

.go-home{
  width: 100%;
    border: 0;
    padding: 5px 15px;
    color: #104849;
    background-color: #59fd87;
    border-radius: 10px;
}
.go-home:hover{
  background-color: #87ffa9;
}