.bg-teal{
    background-color: #a9fff8;
  }
  .product-name{
    margin-top: 20px;
    font-weight: 600;
  }
  .product-image{
    width:70%;
    border-radius: 10px;
    box-shadow: rgba(23, 23, 28, 0.655) 5px 5px 10px;
  }
  .product-quantity{
    width: 30%;
  }
  .add-product{
    margin: 10px 0;
    width: 100%;
    border: 0;
    padding: 10px 5px;
    background-color: #FFEA20;
    color: black;
    border-radius: 10px;
  }