.thankyou-container{
  .thank-you-card{
    background-color: #ffffff;
    text-align: center;
  }
    .thank-you{
      font-family: 'Kaushan Script','cursive';
      font-size:3em;
      letter-spacing:3px;
      color:#000000 ;
      margin:0;
      margin-bottom:20px;
    }
    .go-home{
      width: 100%;
      border: 0;
      padding: 2px 7px;
      background-color: #59fd87;
      color: #104849;
      border-radius: 5px;
    }
    .go-home:hover{
      opacity: 0.9;
    }
  }